<div class="col-md-4 offset-1"></br>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @section.title %>
</p>

<p>
  <strong>Order:</strong>
  <%= @section.order %>
</p>


<%= link_to 'Edit', edit_admin_section_path(@section), class: "btn btn-sm btn-warning" %> |
<%= link_to 'Back', admin_sections_path, class: "btn btn-sm btn-danger" %>
</div>