<div class="col-md-4 offset-1"></br>

<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Background:</strong>
  <br>
  <%= image_tag @about.background.url(:medium) %>
</p>

<p>
  <strong>Header:</strong>
  <%= @about.header %>
</p>

<p>
  <strong>Text:</strong>
  <%= @about.text %>
</p>

<%= link_to 'Edit', admin_edit_about_path(@about), class: "btn btn-sm btn-warning" %>
</div>