<div class="col-md-4 offset-1"></br>
<% if notice %>
<p class="alert alert-success"><%= notice %></p>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @art.title %>
</p>

<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @art.piece.url(:medium) %>
</p>

<p>
  <strong>Section:</strong>
  <%= @art.section.title %>
</p>

<p>
  <strong>Medium:</strong>
  <%= @art.medium %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @art.order %>
</p>

<%= link_to 'Edit', edit_admin_art_path(@art), class: "btn btn-sm btn-warning" %> |
<%= link_to 'Back', admin_arts_path(@art), class: "btn btn-sm btn-danger" %>
</div>